In [45]:
library(MPV)
data(p13.16) # load the data
p13.16
dim(p13.16)

   X1 X2 X3 X4 Y
1  -1 -1 -1 -1  1.68
2   1 -1 -1 -1  1.98
3  -1  1 -1 -1  3.28
4   1  1 -1 -1  3.44
5  -1 -1  1 -1  4.98
6   1 -1  1 -1  5.70
7  -1  1  1 -1  9.97
8   1  1  1 -1  9.07
9  -1 -1 -1  1  2.07
10  1 -1 -1  1  2.44
11 -1  1 -1  1  4.09
12  1  1 -1  1  4.53
13 -1 -1  1  1  7.77
14  1 -1  1  1  9.43
15 -1  1  1  1 11.75
16  1  1  1  1 16.30

[1] 16  5

In [38]:
m_reduced <- lm(Y ~ X2, data = p13.16) # fit the reduced model
m_full <- lm(Y ~ X1 + X2 + X3, data = p13.16) # fit the full model
print(anova(m_reduced, m_full)) # F-test: reduced vs full

Analysis of Variance Table

Model 1: Y ~ X2
Model 2: Y ~ X1 + X2 + X3
  Res.Df     RSS Df Sum of Sq      F    Pr(>F)
1     14 219.190
2     12  50.352  2    168.84 20.119 0.0001469 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

In [39]:
print(anova(m_full, m_reduced)) # if you switch the order, result doesn't change

Analysis of Variance Table

Model 1: Y ~ X1 + X2 + X3
Model 2: Y ~ X2
  Res.Df     RSS Df Sum of Sq      F    Pr(>F)
1     12  50.352
2     14 219.190 -2   -168.84 20.119 0.0001469 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

In [40]:
summary(m_full)

Call:
lm(formula = Y ~ X1 + X2 + X3, data = p13.16)

Residuals:
    Min      1Q  Median      3Q     Max
-2.4787 -1.0394  0.0962  0.9312  4.8237

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   6.1550     0.5121  12.019 4.75e-08 ***
X1            0.4562     0.5121   0.891  0.39048
X2            1.6487     0.5121   3.220  0.00736 **
X3            3.2163     0.5121   6.280 4.06e-05 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 2.048 on 12 degrees of freedom
Multiple R-squared:  0.8083,	Adjusted R-squared:  0.7604
F-statistic: 16.87 on 3 and 12 DF,  p-value: 0.000133

In [42]:
print(anova(m_full)

          Df Sum Sq     Mean Sq    F value    Pr(>F)
X1         1   3.330625   3.330625  0.7937694 3.904766e-01
X2         1  43.494025  43.494025 10.3656900 7.360225e-03
X3         1 165.508225 165.508225 39.4446583 4.064436e-05
Residuals 12  50.351525   4.195960         NA           NA

In [4]:
m_null <- lm(Y~1, data = p13.16)
summary(m_null)

Call:
lm(formula = Y ~ 1, data = p13.16)

Residuals:
   Min     1Q Median     3Q    Max
-4.475 -3.085 -1.400  3.005 10.145

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)    6.155      1.046   5.883 3.01e-05 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 4.185 on 15 degrees of freedom

In [5]:
print(anova(m_null, m_full))

Analysis of Variance Table

Model 1: Y ~ 1
Model 2: Y ~ X1 + X2 + X3
  Res.Df     RSS Df Sum of Sq      F   Pr(>F)
1     15 262.684
2     12  50.352  3    212.33 16.868 0.000133 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

In [43]:
m_full2 <- lm(Y ~ X1 + X2 + X3 + X4, data = p13.16)
m_reduced2 <- lm(Y ~ X1 + X2 + X4, data = p13.16) # reduced: drop X3
summary(m_full2) # t-test

Call:
lm(formula = Y ~ X1 + X2 + X3 + X4, data = p13.16)

Residuals:
    Min      1Q  Median      3Q     Max
-1.6562 -1.1537 -0.2025  0.3556  3.6812

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   6.1550     0.4092  15.042 1.11e-08 ***
X1            0.4562     0.4092   1.115  0.28860
X2            1.6487     0.4092   4.029  0.00198 **
X3            3.2163     0.4092   7.860 7.72e-06 ***
X4            1.1425     0.4092   2.792  0.01752 *
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 1.637 on 11 degrees of freedom
Multiple R-squared:  0.8878,	Adjusted R-squared:  0.847
F-statistic: 21.77 on 4 and 11 DF,  p-value: 3.5e-05

In [7]:
summary(m_reduced2)

Call:
lm(formula = Y ~ X1 + X2 + X4, data = p13.16)

Residuals:
    Min      1Q  Median      3Q     Max
-4.8725 -3.2581  0.3262  2.7481  6.8975

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)   6.1550     1.0077   6.108 5.27e-05 ***
X1            0.4562     1.0077   0.453    0.659
X2            1.6487     1.0077   1.636    0.128
X4            1.1425     1.0077   1.134    0.279
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 4.031 on 12 degrees of freedom
Multiple R-squared:  0.2578,	Adjusted R-squared:  0.0722
F-statistic: 1.389 on 3 and 12 DF,  p-value: 0.2936

In [8]:
drop1(m_full2, test = "F") # drop1 gives the same results

       Df Sum of Sq  RSS       AIC      F value   Pr(>F)
<none> NA         NA  29.46662 19.77071        NA           NA
X1      1   3.330625  32.79725 19.48410  1.243335 2.885978e-01
X2      1  43.494025  72.96065 32.27730 16.236480 1.983852e-03
X3      1 165.508225 194.97485 48.00451 61.784832 7.719987e-06
X4      1  20.884900  50.35153 26.34304  7.796410 1.751730e-02

In [44]:
(comparison <- anova(m_reduced2, m_full2)) # F-test: reduced vs full

  Res.Df RSS       Df Sum of Sq F        Pr(>F)
1 12     194.97485 NA       NA        NA           NA
2 11      29.46662  1 165.5082  61.78483 7.719987e-06

In [10]:
(fstat <- comparison$F[2])

[1] 61.78483

In [11]:
(tstat <- summary(m_full2)$coefficients['X3', 't value'])

[1] 7.860333

In [12]:
tstat^2

[1] 61.78483

In [13]:
anova(m_full2)

          Df Sum Sq     Mean Sq    F value   Pr(>F)
X1         1   3.330625   3.330625  1.243335 2.885978e-01
X2         1  43.494025  43.494025 16.236480 1.983852e-03
X3         1 165.508225 165.508225 61.784832 7.719987e-06
X4         1  20.884900  20.884900  7.796410 1.751730e-02
Residuals 11  29.466625   2.678784        NA           NA

In [14]:
data(p13.7) # load the data
m_full <- lm(y ~ x1 + x2 + x3, data = p13.7) # fit the full model
anova(m_full) # F-test: reduced vs full

          Df Sum Sq    Mean Sq   F value   Pr(>F)
x1         1  6.031589  6.031589  3.585168 6.554689e-02
x2         1 56.902813 56.902813 33.822954 8.581339e-07
x3         1  1.497963  1.497963  0.890387 3.510373e-01
Residuals 40 67.294907  1.682373        NA           NA

In [15]:
m_full_1 <- lm(y ~ x3 + x2 + x1, data = p13.7) # fit the full model
anova(m_full_1) # F-test: reduced vs full

          Df Sum Sq    Mean Sq   F value   Pr(>F)
x3         1  2.293342  2.293342  1.363159 2.499034e-01
x2         1 52.755282 52.755282 31.357667 1.724962e-06
x1         1  9.383742  9.383742  5.577683 2.314749e-02
Residuals 40 67.294907  1.682373        NA           NA

In [32]:
set.seed(423)
x1 <- rnorm(n = 5, mean = 10, sd = 2)
x2 <- rnorm(n = 3, mean = 20, sd = 5)
two_gaussian <- data.frame(x = c(x1, x2), mean = c(rep("10", 5), rep("20", 3)))
anova(lm(x~mean, data = two_gaussian))

mean1 <- mean(x1)
mean2 <- mean(x2)
mean.tot <- mean(c(x1,x2))

ss.within = sum((x1-mean1)^2) + sum((x2-mean2)^2)
ss.between = (mean1-mean.tot)^2 * 5 + (mean2-mean.tot)^2 * 3
ss.total = sum((c(x1,x2)-mean.tot)^2)
data.frame(Within = ss.within, Between = ss.between, Total = ss.total)

          Df Sum Sq    Mean Sq   F value  Pr(>F)
mean      1  221.46706 221.46706 15.54241 0.007603769
Residuals 6   85.49524  14.24921       NA          NA

  Within   Between  Total
1 85.49524 221.4671 306.9623

  Within   Between  Total
1 85.49524 221.4671 306.9623

In [48]:
print(anova(lm(Y~., data = p13.16)))

Analysis of Variance Table

Response: Y
          Df  Sum Sq Mean Sq F value   Pr(>F)
X1         1   3.331   3.331  1.2433 0.288598
X2         1  43.494  43.494 16.2365 0.001984 **
X3         1 165.508 165.508 61.7848 7.72e-06 ***
X4         1  20.885  20.885  7.7964 0.017517 *
Residuals 11  29.467   2.679
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1